.react-calendar {
  z-index: 10 !important;
  width: 350px;
  max-width: 100%;
  background: #581f8723 !important;
  border: 1px solid #a7a7a7;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px) saturate(120%) brightness(120%) !important;
  -webkit-backdrop-filter: blur(8px) saturate(130%) !important;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar__navigation__label {
  color: white;
  font-weight: normal !important;
}
.react-calendar__navigation button {
  color: white;
  font-weight: 700;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  /* border: 1px solid white !important; */
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
  color: white !important;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: transparent !important;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgba(255, 0, 0, 0.379) !important;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #f700ff !important;
  /* font-weight: 700; */
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #1b1b1b !important;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  color: white;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  color: white !important;
  font-weight: 700;
}
.react-calendar__tile:enabled:hover {
  background-color: rgba(255, 0, 0, 0.379) !important;
  color: white !important;
}
.react-calendar__tile--now {
  background: #3b25a98c !important;
  font-weight: 700;
  color: white !important;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: rgba(255, 0, 0, 0.379) !important;
}
.react-calendar__tile--hasActive {
  color: white !important;
  background-color: rgba(255, 0, 0, 0.379) !important;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background-color: rgba(255, 0, 0, 0.379) !important;
  color: white !important;
  font-weight: 700;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
